<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">About Me</h1>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

  <div class="col-12 col-lg-6">

    <h1 class="display-5 fw-bold mb-3">Hello there!</h1>
    <br>
    <p class="lead">I am Erin, the manager of <strong><em>Hungry Beast</em></strong>. I want to welcome you to my little online space devoted to scrump-delicious food. Growing up in a family where everyone is big on the food front and several countries, I want to share some of my favourite recipes with you from around the world.</p>
    <br>
    <p class="lead">On my website, you will see recipes dedicated to breakfast, main courses, desserts and snacks from different continents - be them plant-based or meat-based.</p>
    <br>
    <p class="lead">Hopefully, <strong><em>Hungry Beast</em></strong> can inspire you to cook up simple and mouth-watering recipes rather than dining out around the clock!</p>
    <br>
    <p class="lead">If you want to share your recipes with all the foodies and cooking fanatics out there too, make sure you do that on the “Submit” page!</p>
  </div>

  <div class="col-12 col-lg-6">
    <img src="/img/cooking.jpeg" width="600" class="d-block mx-lg-auto img-fluid" Loading="lazy"
      alt="Cooking With Node.js" />
  </div>

</div>
