/* Font */
:root {
  --bs-font-sans-serif: "Rubik", sans serif;
}

/* Container */
.container-xxL {
  max-width: 1530px;
}

/* Background image and color */
body {
  background-image: url("/img/background.webp");
  background-color: rgb(243, 243, 243);
}

a {
  color: var(--bs-dark);
}

/* Log in and sign up buttons */
.log-in-and-sign-up-btn {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  background: grey;
  border-radius: 8px;
}

/* Recipe cards */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}

/* Google authentication */
.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  background: #1b76f2;
  border-radius: 8px;
}

/* Facebook authentication */
.facebook-btn {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  background: #3b5998;
  border-radius: 8px;
}

/* Facebook authentication */
.github-btn {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  background: black;
  border-radius: 8px;
}
